<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @slogan.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @slogan.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @slogan.email %>
</p>

<p>
  <strong>Slogan:</strong>
  <%= @slogan.slogan %>
</p>

<%= link_to 'Edit', edit_slogan_path(@slogan) %> |
<%= link_to 'Back', slogans_path %>
